* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #073B4C;
}

body {
  display: flex;
  justify-content: space-between;
  background: #F7F5FB;
  min-height: 100vh;
}

@media (max-width: 768px) {
  body {
    flex-direction: column-reverse;
  }
}

.menu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #118AB2;
  z-index: 1;
  display: flex;
  justify-content: center;
  transition: 2s;
  overflow: hidden;
}

.menu-title {
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  font-weight: bold;
  color: #fff;
  margin: 50px 0 20px;
}

.name-inputs {
  margin-top: 100px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-container label {
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

.input-container input {
  width: calc(100% - 20px);
  height: 40px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0 10px;
  font-size: clamp(1rem, 1vw, 1.5rem);
  background: #fff;
  transition: 0.3s;
}

#start-button {
  width: 100%;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0 10px;
  font-size: clamp(1rem, 1vw, 1.5rem);
  background: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#wave {
  position: absolute;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  transition: 500ms;
  top: 100%;
}

.dataContainer {
  background: #118AB2;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 270px;
}

.dataContainer h1 {
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  font-weight: bold;
  color: #fff;
  margin-bottom: 40px;
}

.dataContainer .players {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}

.dataContainer .players .player {
  margin-top: 20px;
}

.dataContainer .players .player .playerScore {
  display: flex;
}

.dataContainer .players .player .playerScore span {
  font-weight: bold;
  color: #fff;
  margin-right: 10px;
}

#resultMessageContainer {
  transition: 100ms;
  transform: scale(0);
}

#resultMessage {
  color: #FFD166;
  text-align: center;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
}

main {
  margin: auto;
  position: relative;
}

.gameContainer {
  position: relative;
  width: clamp(300px, 50vw, 666px);
  height: clamp(300px, 50vw, 666px);
  display: flex;
  flex-direction: column;
  border-top: 2px inset black;
  border-right: 2px inset black;
}

.row {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  flex-grow: 1;
  height: 100%;
  border-left: 2px inset black;
  border-bottom: 2px inset black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cellContent {
  position: absolute;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
}

.cellContent img {
  width: 50%;
}

.gameInfo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#playAgain {
  color: #FFD166;
  text-align: center;
  font-size: clamp(4rem, 2vw, 2.5rem);
  cursor: pointer;
  text-decoration: underline;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: scale(0);
}

#playAgain.active {
  animation: playAgain 0.5s infinite;
}

@keyframes playAgain {
  0% {
    transform: translate(-50%, -50%);
  }

  50% {
    transform: translate(-50%, calc(-50% + 5px));
  }

  100% {
    transform: translate(-50%, -50%);
  }
}